@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import 'src/styles/variables';

#about {
  display: flex;
  flex-direction: column;
  gap: 450px;
}

.business-container {
  position: relative;
  text-align: center;
  margin-bottom: 50%;
  z-index: 4;
  transition: opacity 3s;

  p {
    font-family: $title-font;
    font-size: 3rem;
    color: $main-blue;
    margin-left: 4%;
  }

  // &.fixed {
  //   position: fixed;
  //   top: 10%;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }
}

.logo-head2 {
  position: relative;
  left: 52%;
  transform: translateX(-50%);
  transition: opacity 2s ease-out, transform 1s ease-out;
  width: 100%;
  z-index: 4;
  margin-top: 10%;
}

/* BUREAU */
.layer-3 {
  background-image: url('/images/Cave/cave-layer4.svg');
  z-index: 3;
  left: 37.3%;
  top: 51%;
  width: 50%;
  height: 50%;
}

.layer-3.fixed {
  position: fixed;
  left: 37.3%;
  top: 51%;
  width: 50%;
  height: 50%;
  z-index: 3;
}