/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import 'src/styles/variables';

/* Full section portfolio */
#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
  text-align: center;

  @media (max-width: 1025px) {
    padding-top: 3rem;
  }

  .text-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 70%;
    text-shadow: 2px 5px 5px #141414;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */

    @media (max-width: 1270px) {
      width: 90%;
    }
  
    @media (max-width: 1025px) {
      width: 70%;
    }

    @media (max-width: 768px) {
      min-width: 350px;
    }

    h2 {
      color: $main-blue;
    }
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: $header-size;

  @media (max-width: 768px) {
    
  }
}

.styled-link {
  color: $main-blue;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s ease;

  &:hover {
    text-decoration: none;
    transform: scale(1.1);
  }
}

/* Carousel details */
.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;

  @media (max-width: 1600px) {
    width: 60%;
  }

  @media (max-width: 1270px) {
    width: 70%;
  }

  @media (max-width: 999px) {
    width: 90%;
  }

  @media (max-width: 768px) {
    width: 85%;
  }
}

.border-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-body;
  border: 6px solid transparent;
  border-radius: 40px;
  background-image:
    linear-gradient($bg-body, $bg-body),
    linear-gradient(5deg, #0050c7a8, #0050c7a8, #9756fa, #73e177bd, #006afebb, #35d9ccd0);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  padding: 1%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  
  /* La bordure doit s'adapter à la taille de l'image */
  width: 100%; /* La largeur suit la taille de l'image */
  height: auto; /* Hauteur automatique pour s'adapter à l'image */
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-body;
  border-radius: 35px;
  width: 100%; /* Fixe la largeur de l'image à 100% du conteneur parent */
  height: auto; /* Hauteur automatique pour que l'image conserve son ratio */
  
  img {
    width: 100%;
    height: auto; /* Garder le ratio et adapter la hauteur */
    border-radius: 30px;
  }
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  width: 4rem;
  height: 4rem;
  color: $bg-body;
  border: solid 4px transparent;
  border-radius: 50%;
  background-image: 
    linear-gradient($main-text-color, $main-text-color),
    linear-gradient(45deg, #0068ff, #a055fa, #73e176, #2190ed, #00cee4, #00bbe2, #9fadc7, #9756fa, #0068fe);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

.arrow:hover {
  cursor: none;
}

.arrow-left {
  left: -2rem;

  @media (max-width: 768px) {
    left: -1.5rem;
  }
}

.arrow-right {
  right: -2rem;

  @media (max-width: 768px) {
    right: -1.5rem;
  }
  
}







