/* Variables */
$bg-body: #141414;
$main-text-color: #D9D9D9;
$main-blue: #09C2FD;
$main-font: "Roboto Slab", serif;
$gradient-border:
  linear-gradient(#1E1E1E, #1E1E1E),
  linear-gradient(45deg, #0068ff, #a055fa, #73e176, #2190ed, #00cee4, #00bbe2, #9fadc7, #9756fa, #0068fe);
$header-title: 2%;
$header-size: 20px;