@import 'src/styles/variables';

#about {
  margin-top: 15%;
  position: relative;
  width: 100%;
  height: 110vh;
  box-sizing: border-box;
  z-index: 1;

  @media (max-width: 1930px) {
    margin-top: 15%;
    position: relative;
    width: 100%;
    height: 110vh;
    box-sizing: border-box;
    z-index: 1;
  }

  @media (max-width: 1400px) {
    margin-top: 15%;
    position: relative;
    width: 100%;
    height: 110vh;
    box-sizing: border-box;
    z-index: 1;
  }

  @media (max-width: 768px) {
    margin-top: 10%;
    height: 100vh;
  }

  @media (max-width: 480px) {
    margin-top: 5%;
    height: 100vh;
  }
}

.about-avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 300px;
  border: 5px solid transparent;
  border-radius: 50%;
  background-color: $bg-body;
  background-image:
    linear-gradient($bg-body, $bg-body),
    linear-gradient(45deg, #0068ff, #a055fa, #73e176, #2190ed, #00cee4, #00bbe2, #9fadc7, #9756fa, #0068fe);
  background-origin: border-box;
  background-clip: content-box, border-box;
  z-index: -1;
  margin-top: -6%;
  margin-left: 4%;

  @media (max-width: 1400px) {
    width: 310px;
    height: 310px;
    margin-left: 9%;
  }

  @media (max-width: 1280px) {
    width: 280px;
    height: 290px;
    margin-left: 10%;
  }

  @media (max-width: 1024px) {
    width: 410px;
    height: 420px;
    margin-top: 20%;
    margin-left: 50%;
  }

  @media (max-width: 820px) {
    width: 190px;
    height: 190px;
    margin-top: 20%;
    margin-right: 10%;
  }

  @media (max-width: 768px) {
    width: 200px;
    height: 210px;
    margin-top: 20%;
    margin-right: 5%;
  }

  @media (max-width: 480px) {
    width: 150px;
    height: 160px;
    margin-top: 15%;
  }

  @media (max-width: 430px) {
    margin-right: 10%;
    margin-top: 28%;
  }
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0%;
  position: relative;
  z-index: 1;
  overflow-y: auto;
  width: 100%;
  margin-top: -12%;

  @media (max-width: 1400px) {
    flex-direction: row;
    text-align: center;
    margin-right: 2%;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
    margin-left: 4%;
  }

  @media (max-width: 820px) {
    flex-direction: column;
    text-align: center;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }

  @media (max-width: 480px) {
    padding: 20px;
  }
}

.about-text {
  max-width: 40%;
  text-align: start;
  padding: 100px;
  font-size: 20px;
  z-index: 1;

  @media (max-width: 1400px) {
    max-width: 40%;
    margin-right: 1%;
  }

  @media (max-width: 1024px) {
    min-width: 100%;
    margin-left: 60%;
    font-size: 30px;

  }

  @media (max-width: 820px) {
    max-width: 60%;
    padding: 50px;
    text-align: center;
  }

  @media (max-width: 768px) {
    max-width: 80%;
    padding: 50px;
    text-align: center;
  }

  @media (max-width: 480px) {
    padding: 20px;
    max-width: 80%;
    font-size: 17px;
  }
}

.btn-about {
  margin-top: 6%;
  display: flex;
  justify-content: center;
  gap: 15%;

  @media (max-width: 1400px) {
    margin-top: 10%;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 480px) {
    margin-top: 20px;
  }
}

.btn-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  width: 20%;
  height: auto;
  border-radius: 50px; // Aligner avec .buttontext
  background-image: linear-gradient(#1E1E1E, #1E1E1E), 
                    linear-gradient(45deg, #0068ff, #a055fa, #73e176, #2190ed, #00cee4, #00bbe2, #9fadc7, #9756fa, #0068fe);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  @media (max-width: 1930px) {
    width: 20%;
  }

  @media (max-width: 1400px) {
    width: 20%;
  }

  @media (max-width: 1280px) {
    width: 25%;
  }

  @media (max-width: 1024px) {
    width: 10%;
  }

  @media (max-width: 920px) {
    width: 20%;
  }

  @media (max-width: 820px) {
    width: 25%;
  }

  @media (max-width: 768px) {
    width: 0;
  }

  @media (max-width: 480px) {
    width: 0%;
    margin-top: 4%;
  }
}

.btn-cv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: $main-text-color;
  background-color: transparent;
  border: 3px solid transparent;
  background-image: linear-gradient(#1E1E1E, #1E1E1E), 
                    linear-gradient(45deg, #0068ff, #a055fa, #73e176, #2190ed, #00cee4, #00bbe2, #9fadc7, #9756fa, #0068fe);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 50px;
  cursor: pointer;
  width: 18vh;
  height: 50px;
  font-size: 14px;
  gap: 10px;

  @media (max-width: 768px) {
    font-size: 14px;
  }

  @media (max-width: 480px) {
    font-size: 12px;
    padding: 6%;
    height: 45px;
  }
}

.flag-icon {
  width: 12%;

  @media (max-width: 768px) {
    width: 10%;
  }

  @media (max-width: 480px) {
    width: 8%;
  }
}







