@import 'src/styles/variables';

.about {
  position: relative;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  z-index: 10;

  @media (max-width: 1600px) {
    width: 100%;
    flex-direction: column;
    padding: 4%;
  }

}

.about-content {
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  text-align: center;
  padding-top: 16rem;

  @media (max-width: 1600px) {
    flex-direction: column;
    margin-top: 6rem;
    padding-top: 0rem;
  }

}

.about-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17rem;
  border: 5px solid transparent;
  border-radius: 50%;
  background-color: $bg-body;
  background-image: $gradient-border;
  background-clip: content-box, border-box;

  @media (max-width: 1600px) {
    width: 170px;
    height: 170px;
  }

}

.avatar {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.about-text {
  font-size: 16px;
  line-height: 1.5;
  padding: 3rem;
  text-align: justify;
  width: 50%;
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
  user-select: none; /* Propriété standard */

  .colored-text {
    color: $main-blue;
  }

  @media (max-width: 1600px) {
    width: 70%;
    font-size: 1.0rem;
    padding: 2rem;
  }

  @media (max-width: 999px) {
    height: 13rem;
    margin-bottom: 1rem;
    overflow-y: auto;
  }

}

.btn-about {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  border-radius: 50px;
  background-image: $gradient-border;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.button-text {
  display: flex;
  align-items: center;
  color: $main-text-color;
  font-weight: bold;
  cursor: none;
  font-family: $main-font;
  border: 4px solid transparent;
  background-image: $gradient-border;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 50px;
  padding: 15px 30px 15px 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  gap: 10px;
  font-size: 16px;
}

.button-text:hover {
  background-image: $gradient-border-hover;
}


.flag-icon {
  width: 1.5rem;
  margin-right: 0.5rem;

  @media (max-width: 768px) {
    width: 1.2rem;
  }

  @media (max-width: 480px) {
    width: 1rem;
  }
}











