body {
  overflow: hidden;
}

.section-wrapper {
  padding: 0;
  position: relative;
}

.sw-work {
  padding: 6% 0 10% 0;
}

.sw-act {
  padding: 3% 0 10% 0;
}

.sw-port {
  padding: -1.8% 0 0 0;
}

.cave-titre-wrapper {
  position: relative;
}

.titre {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
