/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import '/src/styles/variables';

.city {
  position: fixed;
  width: 100%;
  height: 100%;
}

.background-layer {
  position: absolute;
  left: 5%;
  width: 90%;
  height: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  pointer-events: none;

  &.layer1 {
    background-image: url('/images/home_land_1.svg');
    z-index: 2;
    margin-top: 3.4%;
    margin-left: -0.5%;
  }

  &.layer2 {
    background-image: url('/images/home_land_2.svg');
    z-index: 3;
    margin: 10% 0;
  }

  &.layer3 {
    background-image: url('/images/home_land_3.svg');
    z-index: 1;
    margin: 15% 0;
  }
}

/* RESPONSIVE */
@media (max-width: 1600px) {
 .background-layer {
  background-size: 90%;

  &.layer1 {
    margin: 4% 7%;
    width: 75%;
  }

  &.layer2 {
    margin: 14% 0;
    height: 52%;
  }

  &.layer3 {
    margin: 15% 0;
  }
 }
}

@media (max-width: 1200px) {
  .background-layer {
   background-size: 90%;
 
   &.layer1 {
     margin: 3% 7%;
     width: 75%;
   }
 
   &.layer2 {
     margin: 14% 0;
     height: 52%;
   }
 
   &.layer3 {
     margin: 15% 0;
   }
  }
 }

@media (max-width: 810px) {
    .background-layer {

      &.layer1 {
        margin: 2% 7%;
        width: 75%;
      }
  
      &.layer2 {
        margin: 14% 0;
      }
  
      &.layer3 {
        margin: 15% 0;
      }
    }
}

@media (max-width: 730px) {
  .background-layer {

    &.layer1 {
      margin: 1% 7%;
      width: 75%;
    }

    &.layer2 {
      margin: 14% 0;
    }

    &.layer3 {
      margin: 15% 0;
    }
  }
}

@media (max-width: 630px) {
  .background-layer {

    &.layer1 {
      margin: 0% 7%;
      width: 75%;
    }

    &.layer2 {
      margin: 14% 0;
    }

    &.layer3 {
      margin: 15% 0;
    }
  }
}
  
  @media (max-width: 480px) {

    .background-layer {

      &.layer1 {
        margin: -2% 7%;
        width: 75%;
      }

      &.layer2 {
        margin: 14% 0;
      }

      &.layer3 {
        margin: 15% 0;
      }
    }

  }