/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import 'src/styles/variables';

#home {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 97vh;
  padding: 1rem;
}

.text-home { 
  position: relative;
  font-size: 2.5rem;
  font-weight: 200;
  top: 28%;
  z-index: 4;
  text-shadow: 2px 7px 5px $bg-body;

  .colored-text {
    color: $main-blue
  }

  h1 {
    margin: 0;
    font-weight: 900;
  }
} 

.header-button {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .header {
    z-index: 4;
    display: flex;
    justify-content: center;
    
    .logo-head {
      transition: opacity 1s;
    }
  
    .hidden {
      opacity: 0;
    }
  }

  .bottom-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto;
  
    .button-container {
      display: flex;
      justify-content: center;
      width: auto;
      position: relative;
      left: 40%;
      gap: 5rem;
    }

    .logo-certif {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }  
}

.website-content {
  color: $main-text-color;
  text-align: center;
}

.button-text {
  display: flex;
  align-items: center;
  color: $main-text-color;
  cursor: pointer;
  font-family: $main-font;
  border: 3px solid transparent;
  background-image: $gradient-border;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 50px;
  padding: 15px 30px 15px 30px;
}


/* RESPONSIVE */
@media (max-width: 1440px) {
  #home {
    height: 95vh;
  }

  .text-home {
    font-size: 2em;
    top: 28%;
  }
}

@media (max-width: 1280px) {
  .button-container {
    left: 35% !important
  }
}

@media (max-width: 810px) {
  #home {
    height: 60vh;
  }

  .text-home{
    font-size: 1.5em;
  }

  .bottom-home {
    margin-top: 0;
  }

  .button-container {
    flex-direction: column;
      gap: 10px;
  }

  .button-text {
    font-size: 0.875rem;
    padding: 8px;
  }

  .logo-certif {
    right: 10px;
  }
}

@media (max-width: 480px) {
  .text-home {
    font-size: 1.2rem;
    top: 30%;
  }
}