/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* Variables */
$bg-body: #141414;
$main-text-color: #D9D9D9;
$main-blue: #09C2FD;
$main-font: "Roboto Slab", serif;

/* START HEADER */
#home {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1rem;

    .logo-head {
      margin-top: 2%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      max-width: 100%;
      transition: opacity 0.3s;
    }

    .hidden {
      opacity: 0;
    }
  }

  .home-content {
    margin-top: 10%;

    h1 {
      font-size: 50px;
    }

    p {
      font-size: 20px;
    }

    .colored-text {
      color: $main-blue;
    }

    .separator {
      color: $main-blue;
    }
  }
}

.bottom-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
  width: 100%;

  img {
    width: 50%;
  }

  .logo {
    width: 10%;
  }
}

/* START SECTION HOME */
.website-content {
  color: $main-text-color;
  text-align: center;
}

.button-container {
  display: flex;
  gap: 25px;
}

.buttontext {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  color: $main-text-color;
  cursor: pointer;
  font-size: 16px;
  font-family: $main-font;
  padding: 10px;
}

.logo-certif {
  position: absolute;
  right: 0;
}
