/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* Variables */
$bg-body: #141414;
$main-text-color: #D9D9D9;
$main-blue: #09C2FD;
$main-font: "Roboto Slab", serif;

#home {
  position: relative;
  height: 75vh;
}

.text-home { 
  position: absolute;
  font-size: 2em;
  top: 40%;
  transform: translateX(110%);
  z-index: 4;
} 

.header {
  padding: rem;
  z-index: 4;

  .logo-head {
    margin: 2%;
    transition: opacity 1s;
    z-index: 4;
  }

  .hidden {
    opacity: 0;
  }
}

.bottom-home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 39%;
  // width: 100%;

  .button-container {
    display: flex;
    // gap: 25px;
  }
}

.website-content {
  color: $main-text-color;
  text-align: center;
}

.buttontext {
  display: flex;
  align-items: center;
  // background: transparent;
  // border: none;
  color: $main-text-color;
  cursor: pointer;
  // font-size: 16px;
  font-family: $main-font;
  padding: 10px;
}

.logo-certif {
  position: absolute;
  right: 0;
}