/* Variables */
$bg-body: #141414;
$main-text-color: #D9D9D9;
$main-blue: #09C2FD;
$main-font: "Roboto Slab", serif;


#contact {
  margin-top: 20%;
}

.needs-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.button-container2 {
  right: 2%;
  position: absolute;
}

.buttontext {
  border: 3px solid transparent;
  background-image:
    linear-gradient($bg-body, $bg-body),
    linear-gradient(45deg, #0068ff, #a055fa, #73e176, #2190ed, #00cee4, #00bbe2, #9fadc7, #9756fa, #0068fe);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 25px;
  gap: 10px;
  cursor: pointer;
}


/* WISHLIST */
/* Styles pour le conteneur parent de .checklist */
.checklist-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

/* Styles pour .checklist */
.checklist {
  align-items: center;
  background-color: $bg-body;
  border: 4px solid transparent;
  border-radius: 50px;
  background-image:
    linear-gradient($bg-body, $bg-body),
    linear-gradient(45deg, #0068ff, #a055fa, #73e176, #2190ed, #00cee4, #00bbe2, #9fadc7, #9756fa, #0068fe);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Deux colonnes égales */
  gap: 10px;
  /* Espace entre les éléments */
  padding: 1% 1.5% ;
  width: 65%;
  margin: 2%;

  label {
    font-size: 14px;
  }
}

.option {
  display: flex;
  position: relative;
  padding-left: 8%;
  cursor: pointer;
  margin: 8px;
}

/* Masquer la vraie checkbox */
.option .button {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
}

/* Créer la case à cocher personnalisée */
.option .button+label::before {
  content: '';
  position: absolute;
  left: 0;
  top: -12%;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-image:
    linear-gradient($bg-body, $bg-body),
    linear-gradient(45deg, #0068ff, #a055fa, #73e176, #2190ed, #00cee4, #00bbe2, #9fadc7, #9756fa, #0068fe);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: 1px solid transparent;
}

/* Styles pour la case cochée */
.option .button:checked+label::before {
  background-image:
    linear-gradient($bg-body, $bg-body),
    linear-gradient(45deg, #0068ff, #a055fa, #73e176, #2190ed, #00cee4, #00bbe2, #9fadc7, #9756fa, #0068fe);
}

/* Ajout de la coche */
.option .button:checked+label::after {
  content: '';
  position: absolute;
  left: 1.4%;
  top: 1%;
  width: 1.5%;
  height: 10px;
  border: solid $main-text-color;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


/* BTN WISHLIST */
.buttonwish-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

.buttonwish {
  display: flex;
  align-items: center;
  border-radius: 25px;
  background: $bg-body;
  padding: 0.4% 0.6%;
  cursor: pointer;
  border: 2px solid transparent;
  background-image:
    linear-gradient($bg-body, $bg-body),
    linear-gradient(45deg, #0068ff, #a055fa, #73e176, #2190ed, #00cee4, #00bbe2, #9fadc7, #9756fa, #0068fe);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.icon1 {
  margin-right: 0.5rem;
}

.icon2 {
  margin-left: 0.5rem;
}