@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import 'src/styles/variables';

/* Card activities */
.activities {
  position: relative;
  z-index: 5;

  h2 {
    margin-bottom: -2%;
  }
}

.act-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  margin-top: 4%;
  margin-right: 2%;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }

  @media (min-width: 1025px) {
    margin-top: 8%;
  }
}

.act-mini-container {
  position: relative;
  width: 43%;
  max-width: 450px;

  @media (max-width: 1024px) {
    width: 80%;
  }
}

.card-image {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  z-index: 1;

  @media (max-width: 480px) {
    width: 60px;
    height: 60px;
  }
}

.border-card {
  background-color: $bg-body;
  border: 6px solid transparent;
  border-radius: 40px;
  background-image:
  linear-gradient($bg-body, $bg-body),
  linear-gradient(5deg, #0050c7a8, #0050c7a8, #9756fa, #73e177bd, #006afebb, #35d9ccd0);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  padding: 4%;
  max-height: 400px;
  min-height: 290px;
  width: 100%;
}

.activities-card {
  background-color: #1E1E1E;
  border: 3px solid transparent;
  border-radius: 30px;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1%;
  margin: -2%;
  height: 360px;

  h3 {
    color: $main-blue;
    margin-bottom: 2%;
    margin-top: 5%;
    font-size: 36px;

    @media (max-width: 1380px) {
      font-size: 28px;
    }

    @media (max-width: 1280px) {
      font-size: 24px;
    }
  }

  p {
    color: $main-text-color;
    margin-top: 2%;
    text-align: justify;
    padding: 0 5%;
    font-size: 16px;
    line-height: 1.5;

    @media (max-width: 480px) {
      font-size: 14px;
    }
  }
}

.chips-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 2%;

  @media (min-width: 1025px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
}
