@import 'src/styles/variables';

/* START NAVBAR */
.full-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: fixed;
  height: 100%;
  width: 80px;
  top: 0;
  left: 2%;
  z-index: 3000;
}

.hover-text {
  font-size: 16px;
  font-weight: bold;
  color: $main-blue;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
  user-select: none; /* Propriété standard */
}

.navbar {
  width: 100%;
  height: 450px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid transparent 4px;
  background-color: $bg-body;
  background-image: $gradient-border;
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 20px;
  transition: width 0.3s, height 0.3s;
  position: relative;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.navbar-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

.icon {
  width: 40px;
  height: 40px;
  transition: color 0.3s, opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $main-text-color;
  cursor: none;
}

.icon:hover {
  transform: scale(1.15);
  transition: transform 0.3s ease 0.1s;
}

.icon.active {
  color: $main-blue;
}



@media only screen and (max-width: 999px) {
  .full-nav {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .navbar {
    position: fixed;
    width: 94%;
    height: 100px;
    min-height: 100px;
    bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .navbar-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Répartit les icônes sur toute la largeur */
    width: 90%;
    gap: 20px;
  }

  .icon {
    width: 55px;
    height: 55px;
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hover-text {
    position: fixed;
    left: 0;
    font-size: 36px;
    justify-content : flex-start;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
  }
}
