@import 'src/styles/variables';

/* START NAVBAR */
.full-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: fixed;
  height: 100%;
  width: 80px;
  top: 0;
  left: 1.5%;
  z-index: 25;
}

.hover-text {
  font-size: 16px;
  color: $main-blue;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 45%;
  border: solid transparent 2px;
  background-color: $bg-body;
  background-image: $gradient-border;
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 20px;
  transition: width 0.3s, height 0.3s;
  position: relative;
}

.navbar-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.icon {
  width: 25px;
  height: 30px;
  transition: color 0.3s, opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $main-text-color;
  cursor: none;
}

.icon.active {
  color: $main-blue;
}



@media only screen and (max-width: 600px) {
  .full-nav {
    width: 110px;
  }

  .navbar {
    width: 95%;
    height: 25%;
  }

  .navbar-icons {
    gap: 70px;
  }

  .icon {
    width: 55px;
    height: 55px;
  }

  .hover-text {
    font-size: 36px;
    margin-bottom: 4%;
  }
}


@media only screen and (min-width: 601px) and (max-width: 768px) {
  .full-nav {
    width: 80px;
  }

  .navbar {
    width: 85%;
    height: 20%;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .navbar-icons {
    gap: 45px;
  }

  .hover-text {
    font-size: 24px;
  }
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .full-nav {
    width: 90px;
  }

  .navbar {
    width: 80%;
    height: 36%;
  }

  .icon {
    width: 40px;
    height: 40px;
  }

  .navbar-icons {
    gap: 50px;
  }

  .hover-text {
    font-size: 26px;
  }
}


@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .full-nav {
    width: 80px;
  }

  .navbar {
    width: 80%;
    height: 45%;
  }

  .icon {
    width: 25px;
    height: 30px;
  }

  .hover-text {
    font-size: 16px;
  }
}


@media only screen and (min-width: 1201px) {
  .full-nav {
    width: 80px;
  }

  .navbar {
    width: 80%;
    height: 45%;
  }

  .icon {
    width: 25px;
    height: 30px;
  }

  .hover-text {
    font-size: 16px;
  }
}


