/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* Variables */
$bg-body: #141414;
$main-text-color: #D9D9D9;
$main-blue: #09C2FD;
$main-font: "Roboto Slab", serif;


/* START NAVBAR */
.navbar-text {
  width: 5%;
  height: 50%;
  position: fixed;
  top: 45%;
  transform: translate(25%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hover-text {
  position: fixed;
  top: 18%;
  transform: translate(25%, -50%);
  width: 5%;
  font-size: 16px;
  color: $main-blue;
  transition: opacity 0.3s;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  height: 100%;
  width: 55%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: solid transparent 5px;
  border-radius: 20px;
  background-color: $bg-body;

  /* Border */
  background-image: 
    linear-gradient($bg-body, $bg-body), /* Background */
    linear-gradient(45deg, red, blue, rgb(120, 120, 226)); /* Border gradient */
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.navbar-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $main-text-color;
  // height: 15%; /* Espace les icones */
}

.icon {
  font-size: 24px;
  transition: color 0.3s;
}

.icon.hovered, .icon.clicked {
  color: #00BFFF;
}

.navbar-logo {
  width: 40px;
  height: auto;
}