/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* Variables */
$bg-body: #141414;
$main-text-color: #D9D9D9;
$main-blue: #09C2FD;
$main-font: "Roboto Slab", serif;

#footer {
  color: $main-text-color;
  margin-top: 10%;
  position: relative;
  z-index: 10;

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .footer-logo{
    width: 25%;
    }

    .footer-logo2 {
        width: 25%;
        transform: scale(0.5);
        cursor: pointer;
    }
    }
}
