@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import 'src/styles/variables';

.lang-btn {
  position: fixed;
  display: flex;
  align-items: center;
  right: 1rem;
  top: 1rem;
  z-index: 2100;

  button {
    position: relative;
    background: none;
    border: none;
    color: $main-text-color;
    cursor: none;
    font-weight: bold;
    font-size: 2.3rem;
    padding-left: 1.5rem;
    margin: 0;
    font-family: $main-font;

    &.selected {
      color: $main-blue;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      background: $main-blue;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &.selected::before {
      opacity: 1;
    }
  }

  span {
    color: $main-text-color;
    margin: 0 0.5rem;
    font-family: $main-font;
  }
}

@media (max-width: 999px) {
  .lang-btn {
    display: flex;
    flex-direction: column;

    span {
      visibility: hidden;
      height: 10px;
    }

    button {
      position: relative;
      border: none;
    }
  }
}

