/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* Variables */
$bg-body: #141414;
$main-text-color: #D9D9D9;
$main-blue: #09C2FD;
$main-font: "Roboto Slab", serif;

body {
  background-color: $bg-body;
  color: $main-text-color;
  font-family: $main-font;
  margin: 0;
  padding: 0;
}













