/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import 'src/styles/variables';

body {
  background-color: $bg-body;
  color: $main-text-color;
  font-family: $main-font;
  margin: 0;
  padding: 0;
}
















