/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* Variables */
$bg-body: #141414;
$main-text-color: #d9d9d9;
$main-blue: #09c2fd;
$main-font: "Roboto Slab", serif;

#work {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  
  h2 {
    color: $main-text-color;
  }

  #chartdiv {
    position: relative;
    width: 60%; 
    height: 100%;
    margin: 2% auto 5% auto;
  }

  .doughnut-chart {
    width: 70%;
    height: 70%;
    position: relative;
  }

  .center-content {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .center-image {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
  }

  .experience-text {
    color: $main-text-color;
    margin-top: 30%;
  }
}

/* RESPONSIVE */