/* Variables */
$bg-body: #141414;
$main-text-color: #d9d9d9;
$main-blue: #09c2fd;
$main-font: "Roboto Slab", serif;

#work {
  margin-top: 20%;
  #chartdiv {
    width: 100%;
    height: 550px;
  }
}
