@import 'src/styles/variables';

 #cave-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  right: 6%;
  left: -2%;
  z-index: -1;

   @media (max-width: 768px) {
     right: 0;
     left: 0;
   }
 
   @media (max-width: 480px) {
     width: 100vw;
   }
 }
 
 .cave-layer {
  position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   transition: none;
   will-change: transform, opacity;
   border: none;
   box-sizing: border-box;
   mask-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 12%, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 0%);

   &.fixed {
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     z-index: 0;
     transition: none;
   }

   @media (max-width: 480px) {
    width: 80vw;
    position: relative;
  }
 }
 
 /*fond*/
 .layer-1 {
   background-image: url('/images/Cave/cave-bg.svg');
   z-index: 1;

   @media (max-width: 480px) {
    width: 120vw;
  }
 }

 /*contour*/
 .layer-2 {
   background-image: url('/images/Cave/cave-layer1.svg');
   z-index: 2;
 }

 /*bureau*/
 .layer-3 {
   background-image: url('/images/Cave/cave-layer4.svg');
   z-index: 3;
   left: 37.3%;
   top: 50%;
   width: 50%;
   height: 50%;
 }

 .layer-3.fixed {
  position: fixed;
  left: 37.3%;
  top: 50%;
  width: 50%;
  height: 50%;
  z-index: 10;
 }

 /*sol*/
 .layer-4 {
  background-image: url('/images/Cave/cave-bg-sol.svg');
  width: 100%;
  height: 30%;
  left: 0%;
  top: 75%;
  background-size: contain;
  z-index: 5;
}

.layer-4.fixed {
  position: fixed; /* Fixer l'élément lors du défilement */
  left: 0; /* Ajuster la position pour remplir l'écran */
  top: auto; /* Annuler la valeur top */
  bottom: 0; /* Fixer en bas de la fenêtre */
  width: 100vw; /* Occuper toute la largeur de la fenêtre */
  height: 20%; /* Ajuster la hauteur pour qu'elle soit visible mais pas trop grande */
  background-size: cover; /* Redimensionner l'image pour couvrir toute la zone */
  z-index: 10; /* S'assurer qu'elle soit au-dessus des autres éléments */
}

/* mur droite */
.layer-5 {
  background-image: url('/images/Cave/cave-bg-mur1.svg');
  width: 30%; /* Ajustez la largeur à 30% pour un affichage vertical */
  height: 100vh; /* Ajustez la hauteur à 100% du viewport pour un affichage complet */
  left: -5%; /* Positionnez l'image à droite */
  top: 0; /* Déplacez l'image vers le haut pour qu'elle commence en haut du conteneur */
  background-size: contain; /* Assurez-vous que l'image est complètement visible */
  background-repeat: no-repeat; /* Empêchez la répétition de l'image */
  background-position: center; /* Centrez l'image dans le conteneur */
  z-index: 3;
}

.layer-5.fixed {
  width: 30%; /* Ajustez la largeur à 30% pour un affichage vertical */
  height: 100vh; /* Ajustez la hauteur à 100% du viewport pour un affichage complet */
  left: -5%; /* Positionnez l'image à droite */
  top: 0; /* Déplacez l'image vers le haut pour qu'elle commence en haut du conteneur */
  background-size: contain; /* Assurez-vous que l'image est complètement visible */
  background-repeat: no-repeat; /* Empêchez la répétition de l'image */
  background-position: center; /* Centrez l'image dans le conteneur */
  z-index: 3;
}

.layer-6 {
  background-image: url('/images/Cave/cave-bg-mur2.svg');
  width: 30%; /* Ajustez la largeur à 30% pour un affichage vertical */
  height: 100vh; /* Ajustez la hauteur à 100% du viewport pour un affichage complet */
  left: 74%; /* Positionnez l'image à droite */
  top: 0; /* Déplacez l'image vers le haut pour qu'elle commence en haut du conteneur */
  background-size: contain; /* Assurez-vous que l'image est complètement visible */
  background-repeat: no-repeat; /* Empêchez la répétition de l'image */
  background-position: center; /* Centrez l'image dans le conteneur */
  z-index: 3;
}

.layer-6.fixed {
  width: 30%; /* Ajustez la largeur à 30% pour un affichage vertical */
  height: 100vh; /* Ajustez la hauteur à 100% du viewport pour un affichage complet */
  left: 73%; /* Positionnez l'image à droite */
  top: 0; /* Déplacez l'image vers le haut pour qu'elle commence en haut du conteneur */
  background-size: contain; /* Assurez-vous que l'image est complètement visible */
  background-repeat: no-repeat; /* Empêchez la répétition de l'image */
  background-position: center; /* Centrez l'image dans le conteneur */
  z-index: 3;
}



 .business-container {
   position: relative;
   text-align: center;
   margin-bottom: 50%;
   z-index: 4;
   transition: opacity 2s;

   p {
     font-size: 1.5rem;
     line-height: 1.6;
     color: $main-blue;
     margin-left: 4%;
   }
 
   &.fixed {
     position: fixed;
     top: 10%;
     left: 50%;
     transform: translateX(-50%);
   }
 }

 .logo-head2 {
   position: relative;
   left: 52%;
   transform: translateX(-50%);
   transition: opacity 2s ease-out, transform 1s ease-out;
   width: 100%;
   z-index: 4;
   margin-top: 10%;
 } 