@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import 'src/styles/variables';

#cave-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.cave-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: none;
  will-change: transform, opacity;
  border: none;
  box-sizing: border-box;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    transition: none;
  }
}

/* FOND */
.layer-1 {
  background-image: url('/images/Cave/cave-bg.svg');
  z-index: 1;
}

/* CONTOUR */
.layer-2 {
  background-image: url('/images/Cave/cave-contour.svg');
  z-index: 2;
}

.layer-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 1) 0%,
    rgba(20, 20, 20, 0.9) 50%,
    rgba(20, 20, 20, 0) 100%
  );
  z-index: 10;
  pointer-events: none;
}

/* SOL */
.layer-4 {
  background-image: url('/images/Cave/cave-bg-sol.svg');
  // position: fixed;
  top: 76%;
  bottom: 0;
  width: 99.8%;
  height: 27%;
  background-size: cover;
  z-index: 5;
}

.layer-4.fixed {
  position: fixed;
  top: 76%;
  bottom: 0;
  width: 99.8%;
  height: 27%;
  background-size: cover;
  z-index: 5;
}

/* MUR GAUCHE */
.layer-5 {
  background-image: url('/images/Cave/cave-bg-mur1.svg');
  width: 30%;
  height: 100vh;
  left: -5%;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}

.layer-5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 1) 0%,
    rgba(20, 20, 20, 0.9) 50%,
    rgba(20, 20, 20, 0) 100%
  );
  z-index: 10;
  pointer-events: none;
}

 .layer-5.fixed {
  position: fixed;
  width: 30%;
  height: 100vh;
  left: -5%;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}

/* MUR DROIT */
.layer-6 {
  background-image: url('/images/Cave/cave-bg-mur2.svg');
  width: 30%;
  height: 100vh;
  left: 73%;
  top: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}

.layer-6::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 1) 0%,
    rgba(20, 20, 20, 0.9) 50%,
    rgba(20, 20, 20, 0) 100%
  );
  z-index: 10;
  pointer-events: none;
}

.layer-6.fixed {
  position: fixed;
  width: 30%;
  height: 100vh;
  left: 73%;
  top: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}